body {
    background-color: blue;
}

body {
    color: red;
}

.warning {
    text-transform: uppercase;
    font-size: 47px;
}

.height{
    height: 100px;
}

a {
    color: yellow;
    padding: 100px;
}