body {
    background-color: red;
}

.uppercase {
    text-transform: uppercase;
    font-size: 47px;
}

article h1 {
    font-family: "Impact";
}

h1 {
    border-bottom: groove 10px aqua;
    padding: 5px;
}

.image1 {
    width: 390px;
    height: 390px;
}

a {
    padding-left: 200px;
}

.no {
    padding-left: 0px;
}

h3 {
    padding-left: 35px;
    font-size: 25px;
}

.border1 {
    border-style: groove;
    border-color: blue;
}

h4 {
    font-size: 25px;
    text-transform: uppercase;
}

.centerpadding {
    padding-left: 470px;
}

#centerpadding2 {
    padding-right: 30px;
}